*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-body{
    background-color: black;
    background-position: center;
    background-size: cover;
    /* filter: grayscale(1); */
}
